[Unit]
Description=uWSGI instance to serve api-server
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/api-server
Environment="PATH=/home/ec2-user/api-server/api-server-venv/bin"
ExecStart=/home/ec2-user/api-server/api-server-venv/bin/uwsgi --ini uwsgi-config.ini

[Install]
WantedBy=multi-user.target
