

.navbar-right {
  display: flex;
  flex-direction: row;
  padding-right: 0.5rem;
}

.dropdownToggle button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  
  svg {
    width: 1.5rem;
    height: 1.5rem; 
    margin-top: 6px;
  }
}
.dropdownToggle button::after {
  display: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.logotype {
  color: #000000;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}

.profileImage {
  border-radius: 50%;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem; 
  margin-top: 6px;
}